celery
channels
channels_redis
daphne
Django
django-auditlog
django-cors-headers
django-filter
django_celery_results
djangorestframework
djangorestframework_simplejwt
gunicorn
pillow
psycopg2-binary
python-dotenv
redis
requests
user-agents
django-crontab
dj-database-url